.flex-container {
    display: flex;
    justify-content: space-evenly;
  }
.grow{
    font-size: 17px;
    flex-grow: 1;
    text-indent: 70px;
}
.p1{
    color : white;
}
.hobi{
    font-size: 20px;
}
.p2{
    font-size: 20px;
}
.p3{
    font-size: 20px;
}
.list{
    font-size: 20px;
}
.flex{
    justify-content: space-evenly;
    display: flex;
}
.list2{
    font-size: 22px;
}
li{
    line-height: 60px;
}
legend{
    font-size: 25px;
}